h1 {
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    padding: ;
    margin: 100px;
    font-weight: ;
    text-decoration: underline;
    color: purple;
    background-color: ;
}

h2 {
    font-size: 2em;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    color: goldenrod;
    background-color:pink ;
}

p {
    font-family: ;
    font-size: ;
    padding: ;
    margin: ;
    color: ;
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url("https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png");
    background-color ;
    height: 400px;
    width: 50%;
}
